.name{
  color: black;
  font-size: 22px; 
}
.about{
   color: black;
  font-size: 20px;
}
.contact{
  color: black;
  font-size: 20px;
}
.edu{
  color: black;
  font-size: 20px;
}


#photo{
  border-radius: 50%;
  }

.jump{
font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
background-color: black;
}
.Name{
  font-weight: 900;
  font-size: 65px;
  color: #66FCF1;
  }
.lead{
  font-style: Italic;
  color: white;
}
.hello{
  color:white;
}

.section1{
  background-color: black;
  
  font-weight: bold;
}
.heel{
  font-family: Comic Sans Ms; 
  color: #45A29E;
}
.hey{
  color: #C5C6C7;
  font-size: 25px;
}

.heel:before,
.heel:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: left;
 width: 50%;
}
.heel:before {
 right: 0.5em;
 margin-left: -50%;
}
.heel:after {
 left: 0.5em;
 margin-right: -50%;
}
.link1{
  color: aqua;
}
.link2{
  color: crimson;
}
.link3{
  color: blue;
}
.link4{
  color: purple;
}

